header {
  background-image: url(../image/imagem-background.jpg);
  background-color: rgba(3, 9, 13, 0.3);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: left 35% bottom 70%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5em 1em 0.5em 1em;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
}

.nav-container .logo {
  display: block;
  font-size: 0.85rem;
  color: #07f207;
  font-weight: bold;
  text-align: left;
  line-height: 0.8em;
}

.nav-container .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 1em;
}

.nav-scroll {
  background-color: rgba(3, 9, 13, 0.8);
}

.destaque {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  padding: 5em 1em 5em 1em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  gap: 1em;
}

.destaque__titulo {
  font-size: 2.2rem;
  margin: 0;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 15ch;
}

.destaque__chamada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.destaque__chamada--icone {
  width: 0.8rem;
}

.destaque__chamada--texto {
  padding: 0 0.5em;
  color: #07f207;
  font-weight: bold;
  font-size: 1rem;
}

.destaque .scroll {
  width: 2em;
  height: auto;
}

.destaque .circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(242px, 810px);
    transform: translate(242px, 810px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(242px, 840px);
    transform: translate(242px, 840px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(242px, 810px);
    transform: translate(242px, 810px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(242px, 840px);
    transform: translate(242px, 840px);
  }
}

@media (min-width: 768px) {
  .nav-container {
    padding: 1em 3em 1em 3em;
  }
  .nav-container .logo {
    font-size: 1.2em;
  }
  .nav-container .menu {
    font-size: 1em;
  }
  .destaque {
    padding: 5em 3em 5em 3em;
  }
  .destaque__titulo {
    font-size: 3rem;
  }
}

@media (min-width: 1050px) {
  .nav-container {
    padding: 1em 5em 1em 5em;
  }
  .nav-container .logo {
    font-size: 1rem;
    padding: 0;
  }
  .nav-container .menu {
    gap: 3em;
  }
  .destaque {
    padding: 5em 5em 5em 5em;
    justify-items: left;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .destaque__titulo {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 7rem;
    font-size: 5rem;
    text-align: left;
    margin-bottom: 0.5em;
  }
  .destaque__chamada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .destaque__chamada--icone {
    width: 0.9rem;
  }
  .destaque__chamada--texto {
    margin: 0;
    padding: 0 0.5em;
    font-size: 1.1rem;
  }
  .destaque .scroll {
    width: 2.5em;
  }
}

@media (min-width: 1280px) {
  .nav-container {
    padding: 1em 10em 1em 10em;
  }
  .destaque {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 8em 10em 10em 10em;
  }
  .destaque__titulo {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 9rem;
    font-size: 7rem;
  }
  .destaque .scroll {
    width: 3em;
    margin-top: 1em;
  }
}

.feature {
  padding: 4em 1em 0 1em;
}

.feature__container {
  margin-bottom: 2em;
}

.feature__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature__info .feature__info--subtitulo {
  text-transform: uppercase;
  color: #07f207;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0;
}

.feature__info .feature__info--titulo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 0;
}

.feature__info .feature__info--desc {
  width: 70vw;
  font-size: 0.9em;
  margin-bottom: 3em;
  line-height: 1.8em;
  font-weight: 300;
  max-width: 30ch;
}

.feature__imagem {
  border-radius: 0.5em;
}

@media (min-width: 768px) {
  /*------------------------
      Projetos/Portfolio
   -------------------------*/
  .feature {
    text-align: left;
    padding: 5em 0 5em 3em;
  }
  .feature__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
    grid-template-columns: 40% auto;
    justify-items: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feature__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .feature__info .feature__info--desc {
    margin: 1em 0 0;
  }
}

@media (min-width: 1050px) {
  .feature {
    background-color: #1e5b87;
    padding: 7em 0 7em 5em;
  }
  .feature__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .feature__info .feature__info--subtitulo {
    font-size: 0.8em;
  }
  .feature__info .feature__info--desc {
    font-size: 1.2em;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .feature {
    padding: 7em 0 7em 10em;
  }
  .feature__info .feature__info--subtitulo {
    font-size: 0.9em;
  }
  .feature__info .feature__info--titulo {
    font-size: 3em;
  }
  .feature__info .feature__info--desc {
    font-size: 1.3em;
    margin-bottom: 0;
  }
}

.skills {
  background-color: #5998c5;
}

.skills__lista {
  padding: 4em 1em;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #03090d;
  border-radius: 1em;
  padding: 2em;
  margin: 0 auto 1em auto;
  max-width: 20em;
}

.card__icone {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.card__icone.um {
  width: 7em;
}

.card__icone.dois {
  width: 6em;
}

.card__icone.tres {
  width: 5em;
}

.card__titulo {
  font-weight: bold;
  width: 15ch;
}

.card__desc {
  margin-bottom: 2em;
  max-width: 20ch;
  line-height: 1.8rem;
}

@media (min-width: 768px) {
  /*---------------
      Habilidades
   ----------------*/
  .skills {
    margin-bottom: 5em;
  }
  .skills__container {
    padding: 5em 3em;
  }
  .skills__lista {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 4em 0;
  }
  .card {
    margin: 0;
    margin-bottom: -10em;
    padding: 2em 1em 2em 1em;
  }
}

@media (min-width: 1050px) {
  .skills {
    background-color: inherit;
    position: relative;
  }
  .skills::before {
    content: "";
    z-index: -1;
    display: block;
    width: 140vw;
    background-color: #5998c5;
    position: absolute;
    top: 0;
    left: -20%;
    bottom: -10%;
    right: 0;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  .skills__container {
    padding: 15em 10em 10em 10em;
  }
  .skills__container .skills__lista {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    max-width: 65em;
    margin: 0 auto;
    padding: 0;
  }
  .skills__container .skills__lista .card {
    margin-bottom: 0;
    max-width: 30em;
    min-height: 25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .skills__container .skills__lista .card__titulo {
    max-width: 16ch;
  }
}

@media (min-width: 1280px) {
  .skills__lista {
    gap: 4em;
  }
  .skills__lista .card {
    padding: 2em 3em;
  }
}

.projetos {
  padding: 0;
}

.projetos__titulo {
  background-color: #1e5b87;
  padding: 1em 0;
}

.projetos__container {
  padding: 0;
  height: 100vh;
  margin-bottom: 2em;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.organic-io {
  background-image: url("../image/organic-mobile.jpg");
}

.delt {
  background-image: url("../image/Delt-desktop.jpg");
}

.projetos__info {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.projetos__info--titulo {
  font-size: 3em;
}

.projetos__info--desc {
  font-size: 1em;
  width: 30ch;
  line-height: 1.5;
}

.projetos__info--botao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: 1px solid #f8f8f8;
  width: 50%;
  max-width: 10em;
  padding: 1em 0;
  color: #f8f8f8;
  font-weight: bold;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projetos__info--botao img {
  margin-left: 0.5em;
  width: 1em;
  margin-bottom: 0.2em;
}

@media (min-width: 768px) {
  .projetos__container {
    height: 80vh;
    background-color: black;
  }
  .organic-io {
    background-image: url("../image/organic-desktop.jpg");
    background-position: 30% 0%;
  }
  .delt {
    background-image: url("../image/Delt-desktop.jpg");
  }
  .projetos__info {
    height: 80vh;
  }
}

@media (min-width: 1050px) {
  .projetos__container {
    padding: 0;
    height: 80vh;
  }
  .projetos__info {
    width: 100%;
    height: 80vh;
    background-color: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .projetos__info--titulo {
    display: none;
  }
  .projetos__info--desc {
    display: none;
  }
  .projetos__info--botao {
    display: none;
  }
  .projetos__info:hover {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .projetos__info:hover > .projetos__info--titulo,
  .projetos__info:hover > .projetos__info--desc {
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .projetos__info:hover > .projetos__info--botao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 1280px) {
  .organic-io {
    background-image: url("../image/organic-desktop.jpg");
  }
  .delt {
    background-image: url("../image/delt-desktop.jpg");
  }
  .projetos__info--titulo {
    font-size: 3em;
  }
  .projetos__info--desc {
    font-size: 1.5em;
    width: 30ch;
  }
  .projetos__info:hover {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.contato {
  text-align: center;
  padding: 4em 1em 2em 1em;
  font-size: 1rem;
}

.contato__titulo {
  font-size: 2.5rem;
  margin: 0 auto 1em auto;
}

.contato__form {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: start;
  padding: 2em 0;
}

.contato__form .contato__input {
  width: calc(100% - 1em);
  border-radius: 0.3em;
  border: none;
  padding: 0.5em 0.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.contato__form .contato__input--mensagem {
  height: 7em;
  resize: vertical;
}

.contato__form .contato__input:focus {
  outline: 1px solid #07f207;
}

.contato__form .contato__botao {
  padding: 1em 3em;
  -ms-grid-column-align: end;
  justify-self: end;
  background-color: #1e5b87;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0.3em;
  cursor: pointer;
}

.contato__form .contato__botao:hover,
.contato__form .contato__botao:focus {
  background-color: #164364;
}

@media (min-width: 768px) {
  .contato {
    padding: 4em 3em 2em 3em;
  }
  .contato__form {
    width: 80%;
    margin: 0 auto;
  }
  .contato__form .contato__label {
    font-size: 1.1rem;
  }
}

@media (min-width: 1050px) {
  .contato {
    padding: 4em 5em 4em 5em;
  }
  .contato__form {
    width: 60%;
  }
  .contato__form .contato__label {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .contato__form {
    width: 40%;
  }
}

.rodape {
  background-color: #0a0a0b;
  border-radius: 1em 1em 0 0;
  padding: 2em;
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2em;
}

.sobre__foto {
  width: 12em;
  height: 12em;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sobre__titulo {
  font-size: 1.5em;
  margin: 1em 0 0;
}

.sobre__texto {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: center;
  max-width: 25ch;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.redes__link img {
  width: 3.5rem;
  padding: 0 0.5em;
}

@media (min-width: 1050px) {
  .rodape {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    height: 45vh;
  }
  .sobre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;
  }
  .sobre__foto {
    width: 15em;
    height: 15em;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .sobre__titulo {
    font-size: 2em;
    margin: 2rem 0 0 1rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .sobre__texto {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.8em;
    text-align: left;
    max-width: 35ch;
    margin: -4rem 0 0 1rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .redes__link img {
    width: 4rem;
    padding: 0 0.5em;
  }
}

@media (min-width: 1280px) {
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .redes__link img {
    width: 6rem;
    padding-left: 2em;
  }
}

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  background-color: #03090d;
  color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

section {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */
