// Helpers
@import "abstracts/_variaveis.scss";
@import "abstracts/_mixins.scss";

// Layout
@import "layouts/_header.scss";
@import "layouts/_feature.scss";
@import "layouts/_skills.scss";
@import "layouts/_projetos.scss";
@import "layouts/_contato.scss";
@import "layouts/_footer.scss";

html {
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  color: $branco;
  font-family: $poppins;
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

a {
  color: $branco;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

section {
  text-align: center;
}
