header {
  background-image: url(../image/imagem-background.jpg);
  background-color: rgba($background, 0.3);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-position: left 35% bottom 70%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em 0.5em 1em;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;

  .logo {
    display: block;
    font-size: 0.85rem;
    color: $destaque;
    font-weight: bold;
    text-align: left;
    line-height: 0.8em;
  }

  .menu {
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 1em;
  }
}

.nav-scroll {
  background-color: rgba($background, 0.8);
}

.destaque {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  padding: 5em 1em 5em 1em;
  align-items: center;
  justify-items: center;
  gap: 1em;

  &__titulo {
    font-size: 2.2rem;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
    max-width: 15ch;
  }

  &__chamada {
    display: flex;

    &--icone {
      width: 0.8rem;
    }
    &--texto {
      padding: 0 0.5em;
      color: $destaque;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .scroll {
    width: 2em;
    height: auto;
  }

  .circle {
    animation: circleAnim 1s infinite alternate-reverse;
  }

  @keyframes circleAnim {
    from {
      transform: translate(242px, 810px);
      z-index: 5;
    }
    to {
      transform: translate(242px, 840px);
    }
  }
}

@include tablet() {
  .nav-container {
    padding: 1em 3em 1em 3em;

    .logo {
      font-size: 1.2em;
    }

    .menu {
      font-size: 1em;
    }
  }

  .destaque {
    padding: 5em 3em 5em 3em;

    &__titulo {
      font-size: 3rem;
    }
  }
}

@include desktop() {
  .nav-container {
    padding: 1em 5em 1em 5em;

    .logo {
      font-size: 1rem;
      padding: 0;
    }

    .menu {
      gap: 3em;
    }
  }

  .destaque {
    padding: 5em 5em 5em 5em;
    justify-items: left;
    grid-template-rows: auto auto auto;

    &__titulo {
      align-items: flex-start;
      line-height: 7rem;
      font-size: 5rem;
      text-align: left;
      margin-bottom: 0.5em;
    }

    &__chamada {
      display: flex;

      &--icone {
        width: 0.9rem;
      }
      &--texto {
        margin: 0;
        padding: 0 0.5em;
        font-size: 1.1rem;
      }
    }
  }

  .destaque .scroll {
    width: 2.5em;
  }
}

@include desktop-large() {
  .nav-container {
    padding: 1em 10em 1em 10em;
  }
  .destaque {
    align-items: flex-start;
    padding: 8em 10em 10em 10em;

    &__titulo {
      align-items: flex-start;
      line-height: 9rem;
      font-size: 7rem;
    }
  }

  .destaque .scroll {
    width: 3em;
    margin-top: 1em;
  }
}
