.projetos {
  display: flex;
  flex-direction: column;

  &__container {
    margin-bottom: 4em;
  }

  &__container:last-child {
    margin-bottom: 0;
  }
}

.projetos__info div {
  display: flex;
  flex-direction: column;
  align-items: center;

  .projetos__info--subtitulo {
    text-transform: uppercase;
    color: $destaque;
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin: 0;
  }

  .projetos__info--titulo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
  }

  .projetos__info--desc {
    width: 70vw;
    font-size: 0.9em;
    margin-bottom: 3em;
    line-height: 1.8em;
    font-weight: 300;
    max-width: 30ch;
  }
}

.projetos__imagem {
  border-radius: 0.5em;
  // border: $destaque solid 1px;
}

@include tablet() {
  /*------------------------
      Projetos/Portfolio
   -------------------------*/

  .projetos {
    text-align: left;
    padding-top: 5em;
    padding-bottom: 5em;

    &__container,
    &__destaque--container {
      display: grid;
      grid-template-columns: 40% auto;
    }

    &__container:nth-child(2n) {
      display: grid;
      grid-template-columns: auto 40%;
      text-align: right;
      margin-left: -2em;

      .esquerdo {
        order: 2;
      }

      .direito {
        order: 1;
        margin-left: 0;
        margin-right: 2em;
      }
    }
  }

  .esquerdo {
    display: grid;
    place-content: center;
  }

  .direito {
    margin-left: 2em;
    margin-top: 1em;
  }

  .projetos__info div {
    align-items: flex-start;
  }

  .projetos__info--desc {
    margin-bottom: 0;
  }

  .projetos__container:nth-child(1n) .projetos__info div {
    align-items: flex-start;
  }

  .projetos__container:nth-child(2n) .projetos__info div {
    align-items: flex-end;
  }
}

@include desktop() {
  .projetos__destaque {
    background-color: $projeto-destaque;
    padding: 7em 0 7em 0;

    &--container {
      align-items: center;
    }
  }

  .projetos__info div {
    .projetos__info--subtitulo {
      font-size: 0.8em;
    }

    .projetos__info--desc {
      font-size: 1.2em;
      margin-bottom: 0;
    }
  }

  .direito {
    margin-top: 0;
  }
}

@include desktop-large() {
  .projetos__info div {
    .projetos__info--subtitulo {
      font-size: 0.9em;
    }

    .projetos__info--titulo {
      font-size: 3em;
    }

    .projetos__info--desc {
      font-size: 1.3em;
      margin-bottom: 0;
    }
  }
}
