.projetos {
  padding: 0;
}

.projetos__titulo {
  background-color: $projeto-destaque;
  padding: 1em 0;
}

.projetos__container {
  padding: 0;
  height: 100vh;
  margin-bottom: 2em;
  background-color: rgba(#000, 1);
  background-repeat: no-repeat;
  background-size: cover;
}

.organic-io {
  background-image: url("../../image/organic-mobile.jpg");
}

.delt {
  background-image: url("../../image/Delt-mobile.jpg");
}

.projetos__info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(#000, 0.5);
  &--titulo {
    font-size: 3em;
  }
  &--desc {
    font-size: 1em;
    width: 30ch;
    line-height: 1.5;
  }

  &--botao {
    display: flex;
    background-color: transparent;
    border: 1px solid $branco;
    width: 50%;
    max-width: 10em;
    padding: 1em 0;
    color: $branco;
    font-weight: bold;
    justify-content: center;

    img {
      margin-left: 0.5em;
      width: 1em;
      margin-bottom: 0.2em;
    }
  }
}

@include tablet() {
  .projetos__container {
    height: 80vh;
    background-color: rgba(#000, 1);
  }

  .organic-io {
    background-image: url("../../image/organic-desktop.jpg");
    background-position: 30% 0%;
  }

  .delt {
    background-image: url("../../image/Delt-desktop.jpg");
  }

  .projetos__info {
    height: 80vh;
  }
}

@include desktop() {
  .projetos__container {
    padding: 0;
    height: 80vh;
  }

  .projetos__info {
    width: 100%;
    height: 80vh;
    background-color: transparent;
    transition: 0.5s;

    &--titulo {
      display: none;
    }
    &--desc {
      display: none;
    }

    &--botao {
      display: none;
    }
  }

  .projetos__info:hover {
    background-color: rgba(#000, 0.5);
    transition: 0.5s;
  }

  .projetos__info:hover > .projetos__info--titulo,
  .projetos__info:hover > .projetos__info--desc {
    display: block;
    transition: 0.5s;
  }

  .projetos__info:hover > .projetos__info--botao {
    display: flex;
    transition: 0.5s;
  }
}

@include desktop-large() {
  .organic-io {
    background-image: url("../../image/organic-desktop.jpg");
  }

  .delt {
    background-image: url("../../image/delt-desktop.jpg");
  }

  .projetos__info {
    &--titulo {
      font-size: 3em;
    }
    &--desc {
      font-size: 1.5em;
      width: 30ch;
    }
  }

  .projetos__info:hover {
    background-color: rgba(#000, 0.5);
    transition: 0.5s;
  }
}
